.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
}

.comments-header {
  margin: 2% 0;
}

.comments-container {
  display: flex;
  flex-direction: column-reverse;
}
