.searchbar {
  position: relative;
  min-height: 10vh;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border: 1px solid rgb(233, 230, 230);
}

.searchbar-form {
  width: 100%;
  height: 100%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-input-container {
  width: 71%;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #535353;
  background: whitesmoke;
}

.searchbar-input {
  width: 95%;
  padding: 1.5%;
  outline: none;
  border: none;
  background-color: transparent;
}

.searchbar-search-icon {
  font-size: 1.7rem !important;
  cursor: pointer;
  text-decoration: none;
  color: #535353;
}

.searchbar-avatar-icon {
  cursor: pointer;
  margin-right: 2%;
}

.searchbar-login {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  color: #535353;
  border: 1px solid #ff073a;
  border-radius: 25px;
}

.searchbar-mobile-nav-icon {
  margin-right: 20px;
  font-size: 2rem !important;
  color: grey;
  cursor: pointer;
  z-index: -1;
}
.searchbar-mobile-nav-close {
  transform: rotate(180deg);
}

.searchbar-mobile-nav-icon:hover {
  color: red;
}

@media only screen and (max-width: 1340px) {
  .searchbar-mobile-nav-icon {
    z-index: 1;
  }
}
@media only screen and (max-width: 1000px) {
  .searchbar-input-container {
    width: 100%;
    border-bottom: 1px solid #535353;
    border-radius: 0px;
    background-color: transparent;
  }
  .searchbar-input {
    border: none;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .searchbar-input-container {
    height: 65%;
  }
  .searchbar {
    height: 5vh;
  }
}
